In [2]:
#Q1: Print the given strings as per stated format.

In [4]:
string = ["Data", "Science", "Mentorship", "Program", "By", "Wayspire"]
result = "-".join(string[:4]) + "-started-" + "-".join(string[4:])
print(result)

Data-Science-Mentorship-Program-started-By-Wayspire

In [5]:
#Q2: Celsius to Fahrenheit Converter

In [6]:
celsius = float(input("Enter Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"Fahrenheit: {fahrenheit:.2f}")

Enter Celsius: 32
Fahrenheit: 89.60

In [7]:
#Q3: Swap Numbers Without Python Syntax

In [8]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
a = a + b
b = a - b
a = a - b
print(f"Swapped: {a}, {b}")

Enter first number: 7
Enter second number: 5
Swapped: 5, 7

In [9]:
#Q4: Euclidean Distance Calculator

In [10]:
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print(f"Distance: {distance:.2f}")

Enter x1: 65
Enter y1: 43
Enter x2: 89
Enter y2: 68
Distance: 34.66

In [11]:
#Q5: Simple Interest Calculator

In [12]:
P = float(input("Principal: "))
R = float(input("Rate (%): "))
T = float(input("Time (years): "))
interest = (P * R * T) / 100
print(f"Simple Interest: {interest:.2f}")

Principal: 1000
Rate (%): 5
Time (years): 3
Simple Interest: 150.00

In [13]:
#Q6: Dogs & Chicken Counter

In [14]:
heads = int(input("Heads: "))
legs = int(input("Legs: "))
dogs = (legs - 2 * heads)
chicken = heads - dogs
if dogs < 0 or chicken < 0 or legs % 2 != 0:
    print("Invalid input")
else:
    print(f"dogs: {dogs}\nchicken: {chicken}")

Heads: 1
Legs: 4
Invalid input

In [15]:
#Q7: Sum of Squares of First N Natural Numbers

In [16]:
n = int(input("Enter n: "))
sum_sq = n * (n + 1) * (2*n + 1)\
print(f"Sum: {sum_sq}")

Enter n: 6
Sum: 91

In [17]:
#Q8: Nth Term of Arithmetic Series

In [18]:
a1 = float(input("First term: "))
a2 = float(input("Second term: "))
n = int(input("N: "))

d = a2 - a1
nth_term = a1 + (n - 1) * d
print(f"Nth term: {nth_term}")

First term: 11
Second term: 5
N: 3
Nth term: -1.0

In [19]:
#Q9: Fraction Sum Calculator

In [20]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

n1 = int(input("Numerator 1: "))
d1 = int(input("Denominator 1: "))
n2 = int(input("Numerator 2: "))
d2 = int(input("Denominator 2: "))

num = n1 * d2 + n2 * d1
den = d1 * d2

common = gcd(num, den)
print(f"Sum: {num//common}/{den//common}")

Numerator 1: 300
Denominator 1: 25
Numerator 2: 450
Denominator 2: 25
Sum: 30/1

In [21]:
#Q10: Milk Glass Calculator

In [22]:
import math
tank_h = float(input("Tank height (cm): "))
tank_l = float(input("Tank length (cm): "))
tank_b = float(input("Tank breadth (cm): "))
glass_h = float(input("Glass height (cm): "))
glass_r = float(input("Glass radius (cm): "))

tank_vol = tank_h * tank_l * tank_b
glass_vol = math.pi * (glass_r ** 2) * glass_h

glasses = tank_vol
print(f"Glasses: {int(glasses)}")

Tank height (cm): 400
Tank length (cm): 200
Tank breadth (cm): 600
Glass height (cm): 390
Glass radius (cm): 270
Glasses: 0

In [23]:
#Problem 1: Salary Calculator
ctc = float(input("CTC (Lakhs): "))
hra = 0.1 * ctc
da = 0.05 * ctc
pf = 0.03 * ctc

taxable = ctc - (hra + da + pf)

if taxable < 5:
    tax = 0
elif 5 <= taxable <= 10:
    tax = taxable * 0.1
elif 10 < taxable <= 20:
    tax = taxable * 0.2
else:
    tax = taxable * 0.3

in_hand_annual = taxable - tax
monthly = in_hand_annual / 12
print(f"In-hand monthly: ₹{monthly:.2f}L")

CTC (Lakhs): 500000
In-hand monthly: ₹23916.67L

In [24]:
#Problem 2: Triangle Checker

a = float(input("Angle 1: "))
b = float(input("Angle 2: "))
c = float(input("Angle 3: "))

valid = (a + b + c == 180) and all(angle > 0 for angle in (a, b, c))
print("Valid triangle" if valid else "Invalid triangle")

Angle 1: 45
Angle 2: 60
Angle 3: 30
Invalid triangle

In [25]:
#Problem 3: Profit/Loss Calculator

cp = float(input("Cost Price: "))
sp = float(input("Selling Price: "))

if sp > cp:
    print(f"Profit: ₹{sp - cp:.2f}")
else:
    print(f"Loss: ₹{cp - sp:.2f}")

Cost Price: 100
Selling Price: 150
Profit: ₹50.00

In [26]:
#Problem 4: Unit Converter (Menu-Driven)

while True:
    print("\n1. cm to ft\n2. km to miles\n3. USD to INR\n4. Exit")
    choice = input("Choice: ")

    if choice == '1':
        cm = float(input("cm: "))
        print(f"{cm} cm = {cm * 0.0328084:.2f} ft")
    elif choice == '2':
        km = float(input("km: "))
        print(f"{km} km = {km * 0.621371:.2f} miles")
    elif choice == '3':
        usd = float(input("USD: "))
        print(f"${usd} = ₹{usd * 75:.2f}")
    elif choice == '4':
        break
    else:
        print("Invalid choice")

1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Choice: 2
km: 450
450.0 km = 279.62 miles

1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Choice: 4

In [27]:
#Problem 5: Fibonacci Series

a, b = 0, 1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [28]:
#Problem 6: Factorial Calculator

n = int(input("Number: "))
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

Number: 7
5040

In [29]:
#Problem 7: Reverse Integer

num = input("Number: ")
print(int(num[::-1]))

Number: 5
5

In [30]:
#Problem 8: Conditional Sum

n = int(input("N: "))
total = 0
current = 1

while current <= n and total <= 300:
    if current % 5 != 0:
        total += current
    if total > 300:
        total -= current
        break
    current += 1

print(total)

N: 8
31

In [31]:
#Problem 9: Sum & Average Calculator

total = 0
count = 0

while True:
    num = float(input("Enter number (0 to stop): "))
    if num == 0:
        break
    total += num
    count += 1

print(f"Sum: {total}\nAverage: {total / count if count else 0}")

Enter number (0 to stop): 7
Enter number (0 to stop): 3
Enter number (0 to stop): 0
Sum: 10.0
Average: 5.0

In [32]:
#Problem 9 (Duplicate): Divisible by 7 Not 5

result = []
for num in range(2000, 3201):
    if num % 7 == 0 and num % 5 != 0:
        result.append(str(num))
print(",".join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [33]:
#Problem 10: All Even Digits

result = []
for num in range(1000, 3001):
    if all(int(digit) % 2 == 0 for digit in str(num)):
        result.append(str(num))
print(" ".join(result))

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

In [40]:
#Problem 11: Robot Distance Calculator

x, y = 0, 0

while True:
    cmd = input()
    if cmd == "!":
        break
    direction, steps = cmd.split()
    steps = int(steps)

    if direction == "UP":
        y += steps
    elif direction == "DOWN":
        y -= steps
    elif direction == "LEFT":
        x -= steps
    elif direction == "RIGHT":
        x += steps

distance = (x**2 + y**2)**0.5
print(round(distance))

UP 5
DOWN 3
LEFT 3
RIGHT 2
!
2

In [41]:
#Problem 12: Prime Checker

n = int(input("Number: "))
if n < 2:
    print("Not prime")
else:
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            print("Not prime")
            break
    else:
        print("Prime")

Number: 13
Prime

In [42]:
#Problem 13: Armstrong Numbers in Range

start = int(input("Start: "))
end = int(input("End: "))

for num in range(start, end+1):
    total = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        total += digit ** 3
        temp //= 10
    if total == num:
        print(num, end=" ")

Start: 143
End: 154
153

In [43]:
#Problem 14: Clock Angle Calculator

H = int(input("Hour: "))
M = int(input("Minute: "))

angle = abs(30 * H - 5.5 * M)
angle = min(angle, 360 - angle)
print(int(angle // 1))

Hour: 60
Minute: 00
-1440

In [45]:
#Problem 15: Rectangle Overlap Checker

L1x, L1y = map(int, input("L1 (x y): ").split())
R1x, R1y = map(int, input("R1 (x y): ").split())
L2x, L2y = map(int, input("L2 (x y): ").split())
R2x, R2y = map(int, input("R2 (x y): ").split())

no_overlap = (R1x < L2x) or (R2x < L1x) or (R1y > L2y) or (R2y > L1y)
print("Overlap" if not no_overlap else "No overlap")

L1 (x y): 1 2
R1 (x y): 3 4
L2 (x y): 5 6
R2 (x y): 7 8
No overlap